services:
  web:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./:/app
      - ./uploads:/app/uploads

  app:
    build: 
      context:  .
      dockerfile: ./php/dockerfile
    volumes:
      - ./:/app
      - ./uploads:/app/uploads
    expose:
      - "9000"

  node:
    image: node:25.6-alpine
    working_dir: /app
    volumes:
      - ./:/app
    tty: true
    

  db:
    image: mysql:8.0.44
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    environment:
      ADMINER_DESIGN: dracula
    ports:
      - 3333:8080


volumes:
  db_data:
  
